* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    position: relative;
    
}

/* landing page */

#landingpage {
    height: 100vh;
    background-image: url("background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 

#logo{
    position: relative;
    width: 400px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); 
}

#text{
    padding: 60px;
    font-size: 20px;

}

/* #menubtn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
} */

/* booking page */

.reservationtab {
    height: 100%;
    width: 100%;
    background-image: url("/bookingbackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

form {
    height: 500px;
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 25px;
    text-decoration:none;
    letter-spacing: 0.2rem;
    color: white;

    background: rgba(0, 120, 90, 0.8);
    border-radius: 30px;

}


.reservationbtn {
    display:inline-block;
    padding:10px 20px;
    border: 2px solid white;

    color: white;
    text-shadow: 2px 2px red;
    text-decoration:none;
    letter-spacing: 0.2rem;

    font-family: 'EB Garamond', serif;
    font-style:italic;
    font-weight: 900;
    font-size:25px;

    margin:20px auto;
    transition: color 0.4s;
    bottom: 0;
    background: rgba(220,20,60, 0.5);
    
}

.reservationbtn:hover {
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 2px 2px red;
}


/* Menu page */

#menupage {
    background-image: url("/bacgroundmenu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color:wheat;
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    width: 100%;
} 

#menu {
    display: flex;
    flex-wrap: wrap;
}

/* #text{
    font-family: 'Dancing Script', cursive;
} */

.pizzasshown{
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    background: rgba(0, 120, 90, 0.8);
    width: 280px;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pizzasshown:hover {
    background: wheat;
    color:rgba(0, 130, 90);
}

.pizzatype{
    text-align: center;
}

.pizzaprice{
    text-align: center
}

.pizzadescription {
    text-align: center;
}

.drinksshown{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 120, 90, 0.8);
}

.drinksshown:hover {
    background: wheat;
    color:rgba(0, 130, 90);
  }

.drinktype{
    text-align: center;
}

.drinkprice{
    text-align: center
}

.contentphoto {
    width: 180px;
    height: 190px;
}

/* Button styles */

#bookingbtn {
    position: fixed;
    left: 35%;
}

#menubtn{
    position: fixed;
    right: 35%;
}

.fancy-btn{
    display:inline-block;
    position:relative;
    padding:10px 20px;
    border: 2px solid red;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style:italic;
    font-weight: 900;
    font-size:40px;
    text-decoration:none;
    letter-spacing: 0.2rem;

    margin:20px auto;
    transition: color 0.4s;
    bottom: 0;
    
  }
  .fancy-btn:after{
    content:" ";
    border: 2px solid red;
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.4s;
  }
  .fancy-btn:hover{
    color:#eee;
    cursor: pointer;
  }
  .fancy-btn:hover:after{  
    border:2px solid red;
    width: calc(100% - 10px);
    height: calc(100% + 10px); 
  }


@media screen and (max-width: 1070px) {
    #logo{
        width: 400px;

    }
    .fancy-btn{
      width: 150px;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
    }
    }
    #bookingbtn {
    position: fixed;
    left: calc(35% - 90px);
    }

    #menubtn{
    position: fixed;
    right: calc(35% - 90px);
}

@media screen and (max-width: 500px) {
    form{
    font-size: 25px;
    height: 400px;
    width: 350px;
    }
    #logo{
        width: 300px;
    
    }
    .fancy-btn{
        width: 130px;
        font-weight: 400;
        font-size: 25px;
        text-align: center;

    }
    #bookingbtn {
        position: fixed;
        left: calc(35% - 90px);
    }
    
    #menubtn{
        position: fixed;
        right: calc(35% - 90px);
    }
    
}

@media screen and (max-width: 380px) {
    
    form{
        font-size: 18px;
        height: 350px;
        width: 250px;
        }

    #logo{
        width: 250px;
    
    }
    .fancy-btn{
        width: 130px;
        font-weight: 400;
        font-size: 25px;
        text-align: center;

    }
    #bookingbtn {
        position: fixed;
        left: calc(35% - 90px);
    }
    
    #menubtn{
        position: fixed;
        right: calc(35% - 90px);
    }
    
}
/* 
buttons
background right side */