* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    position: relative;
    
}

/* landing page */

#landingpage {
    height: 100vh;
    background-image: url("background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 #menupage {
    background-image: url("/bacgroundmenu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color:wheat;
    font-family: 'EB Garamond', serif;
} 

#logo{
    position: relative;
    width: 400px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); 
}

#text{
    padding: 60px;
    font-size: 20px;

}

/* #menubtn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
} */

/* booking page */

.reservationtab {
    height: 100vh;
    width: 100vw;
    background-image: url("/bookingbackground.png");
    background-size: cover;
}

form {
    height: 500px;
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 25px;
    text-decoration:none;
    letter-spacing: 0.2rem;
    color: white;

    background: rgba(0, 120, 90, 0.8);
    border-radius: 30px;

}

.pizzasshown{
    margin: 10px;
    border-radius: 5px;
    background: rgba(0, 120, 90, 0.8);
}

.pizzatype{
    text-align: center;
}

.pizzaprice{
    text-align: center
}

.drinksshown{
    margin: 10px;
    border-radius: 5px;
    background: rgba(0, 120, 90, 0.8);
}

.drinktype{
    text-align: center;
}

.drinkprice{
    text-align: center
}

.reservationbtn {
    display:inline-block;
    padding:10px 20px;
    border: 2px solid white;

    color: white;
    text-shadow: 2px 2px red;
    text-decoration:none;
    letter-spacing: 0.2rem;

    font-family: 'EB Garamond', serif;
    font-style:italic;
    font-weight: 900;
    font-size:25px;

    margin:20px auto;
    transition: color 0.4s;
    bottom: 0;
    background: rgba(220,20,60, 0.5);
    
}

.reservationbtn:hover {
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 2px 2px red;
}

/* Menu page */

#menu {
    display: flex;
    flex-wrap: wrap;
}

.contentphoto {
    width: 180px;
    height: 190px;
}

/* Button styles */

#bookingbtn {
    position: fixed;
    left: 35%;
}

#menubtn{
    position: fixed;
    right: 35%;
}

.fancy-btn{
    display:inline-block;
    position:relative;
    padding:10px 20px;
    border: 2px solid red;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style:italic;
    font-weight: 900;
    font-size:40px;
    text-decoration:none;
    letter-spacing: 0.2rem;

    margin:20px auto;
    transition: color 0.4s;
    bottom: 0;
    
  }
  .fancy-btn:after{
    content:" ";
    border: 2px solid red;
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.4s;
  }
  .fancy-btn:hover{
    color:#eee;
    cursor: pointer;
  }
  .fancy-btn:hover:after{  
    border:2px solid red;
    width: calc(100% - 10px);
    height: calc(100% + 10px); 
  }