* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Anton', sans-serif;
    
}

#logo{
    position: relative;
    width: 400px;
    left: 50%;
    transform: translateX(-50%); 
}

#nav {
    margin-top: 50px;
    position: absolute;
    text-align: center;
}

#text{
    padding: 60px;
    font-size: 20px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
}

#booking {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contentphoto {
    width: 150px;
    height: 150px;
}

#reservation {
    border: 2px solid black;
    height: 200px;
    width: 200px;
}